<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.api.dao.ReisedDAO">

    <insert id="addReisedDAO" parameterType="com.wisewin.api.entity.bo.ReisedBO">
        insert into `ap_reised`
        <set>
            <if test="appraisalId!=null and appraisalId!=''">
                appraisal_id=#{appraisalId},
            </if>
            <if test="commentId!=null and commentId!=''">
                comment_id=#{commentId},
            </if>
            <if test="content!=null and content!=''">
                content=#{content},
            </if>
            <if test="userId!=null and userId!=''">
                user_id=#{userId},
            </if>
            <if test="status!=null and status!=''">
                status=#{status},
            </if>
            <if test="judge!=null and judge!=''">
                judge=#{judge},
            </if>
            create_time=now(),
            update_time=now()
        </set>
    </insert>

</mapper>